/* TODO(you): Write the CSS to finish the assignment! */
body {
  font-family: "Proxima Nova", Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  color: #222222;
  margin: 0 auto;
  width: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}
/* d-flex justify-content-between align-items-center mx-auto */
.header h6 {
  font-family: "Helvetica", Sans-Serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #ee3322;
}

.header__right {
  display: flex;
  justify-content: center;
}

.header__right span {
  background-color: #ffee00;
  border-radius: 100%;
  font-weight: bold;
  margin: 0 0.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
}

#quiz-name {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz-name h1 {
  font-family: "Pangolin", "Trebuchet MS", "cursive";
  font-size: 60px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  max-width: 75%;
}

#author {
  font-size: 14px;
  text-align: center;
  margin-top: 18px;
}

#introduction h3 {
  margin-top: 1rem;
}

#introduction section {
  margin: 18px 0;
}

#attempt-quiz {
  background: #f1f1f1;
  border: #dcdcdc 1px solid;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 30px 0;
}

#start-screen {
  text-align: center;
}

#start-screen h3 {
  margin: 2rem 0 1rem 0;
}

#start-screen div {
  margin-bottom: 2rem;
}

.primary-button {
  margin-bottom: 1rem;
  padding: 18px;
  border: none;
  color: white;
  background: #2196f3;
}

.primary-button:hover {
  background: #0d8bf2;
}

.answer-box {
  margin: 10px 0;
}

.answer-box__questions {
  margin: 1rem 0;
}

.answer-box__choice-list {
  margin: 30px 0;
  cursor: default;
}

.answer-box__choice {
  min-height: 1rem;
  background: #f1f1f1;
  border: 0.3px solid white;
  padding: 15px;
  display: flex;
  align-items: center;
  word-break: break-word;
}

.answer-box__choice * {
  pointer-events: none;
}

.answer-box__choice input {
  margin-right: 15px;
}

.answer-box__choice:hover {
  background-color: #ddd;
}

.answer-box__choice.selected-answer {
  background-color: #ddd;
}

#submit-quiz {
  background: #f1f1f1;
  border: #dcdcdc 1px solid;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#submit-quiz button {
  padding: 1rem;
  border: none;
  color: white;
  background: #4caf50;
}

#submit-quiz button:hover {
  background: #46a049;
}

.correct-answer {
  background-color: #d4edda !important;
}

.wrong-answer {
  background-color: #f8d7da !important;
}

.default-answer {
  background-color: #ddd !important;
}

.result-box {
  margin-left: auto;
  background: rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  color: white;
  padding: 0.3rem;
  text-align: center;
}

#try-again {
  background: #f1f1f1;
  border: #dcdcdc 1px solid;
  /* font-size: 1.3rem; */
  padding: 1rem;
  margin: 1.8rem 0;
  display: none;
}

#try-again * {
  display: block;
  text-align: center;
  margin: 1.2rem auto;
}

#score {
  font-size: 24px;
}

#try-again div {
  margin-bottom: 36px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
    width: 95%;
  }

  .header h6 {
    font-size: 25px;
  }

  .header__right span {
    font-size: 12px;
    margin: 0 0.5rem;
    height: 35px;
    width: 35px;
  }

  #quiz-name {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #quiz-name h1 {
    font-family: "Pangolin", "Trebuchet MS", "cursive";
    font-size: 40px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    max-width: 50%;
  }

  @media screen and (max-width: 500px) {
    body {
      font-size: 14px;
    }

    .header h6 {
      font-size: 25px;
    }

    .header__right span {
      display: none;
    }

    #quiz-name {
      width: 100%;
    }

    #quiz-name h1 {
      font-size: 25px;
      max-width: 50%;
    }
  }
}
