/* TODO(you): Write the CSS to finish the assignment! */
body {
  font-family: "Proxima Nova", Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  color: #222222;
}

.header h6 {
  font-family: "Helvetica", Sans-Serif;
  line-height: 80px;
  font-size: 32px;
  font-weight: bold;
  color: #ee3322;
}

.header__right {
  display: flex;
  justify-content: center;
}

.header__right span {
  background-color: #ffee00;
  border-radius: 100%;
  font-weight: bold;
  margin: 0 0.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
}

#quiz-name {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz-name h1 {
  font-family: "Pangolin", "Trebuchet MS", "cursive";
  font-size: 60px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  max-width: 75%;
}

#author {
  font-size: 14px;
  text-align: center;
  margin-top: 18px;
}

#introduction h3 {
  margin-top: 1rem;
}

#introduction section {
  margin: 18px 0;
}

#attempt-quiz {
  background: #f1f1f1;
  border: #dcdcdc 1px solid;
  font-size: 24px;
  padding: 1rem;
  margin: 30px 0;
}

#start-screen {
  text-align: center;
}

#start-screen h3 {
  margin: 36px 0 18px 0;
}

#start-screen div {
  margin-bottom: 36px;
}

#start-screen button {
  margin-bottom: 18px;
  padding: 18px;
  border: none;
  color: white;
  background: #2196f3;
}

#attempt-quiz button:hover {
  background: #0d8bf2;
}

.answer-box {
  margin: 10px 0;
}

.answer-box__questions {
  margin: 1rem 0;
}

.answer-box__choice-list {
  margin: 30px 0;
}

.answer-box__choice {
  background: #f1f1f1;
  border: 0.3px solid white;
  padding: 15px;
  display: flex;
  align-items: center;
}

.answer-box__choice input {
  margin-right: 15px;
}

.answer-box__choice:hover {
  background-color: #ddd;
}

.answer-box__choice.selected-answer {
  background-color: #ddd;
}
